:host {
    display: block;
    background: #ffffff;
    border-radius: 16px;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
}

button {
    &:hover {
        &,
        & ~ button
        {
            color: blue;
        }
    }
}
