<div class="rating">
  <button mat-icon-button (click)="selectRating(5)">
      <mat-icon>star</mat-icon>
    </button>
    <button mat-icon-button (click)="selectRating(4)">
      <mat-icon>star</mat-icon>
    </button>
    <button mat-icon-button (click)="selectRating(3)">
      <mat-icon>star</mat-icon>
    </button>
    <button mat-icon-button (click)="selectRating(2)">
      <mat-icon>star</mat-icon>
    </button>
    <button mat-icon-button (click)="selectRating(1)">
      <mat-icon>star</mat-icon>
    </button>
</div>
