
.play-button {
    font-size: 40px;
    width: 56px;
    height: 56px;
};

.shuffle-button {
    float:right;
    width: 112px;
    height: 56px;
    margin-right: 16px;
    margin-bottom: 16px;
    background: #bbdefb;
    border-radius: 8px 16px 16px 0;
}

.shuffled-button {
    float:right;
    width: 112px;
    height: 56px;
    margin-right: 16px;
    margin-bottom: 16px;
    background: #1564c0;
    border-radius: 8px 16px 16px 0;
}

  youtube-player {
    width: 0;
    height: 0;
    overflow: hidden;
}

img{
    margin-left: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 32px 16px 16px 32px;
    border-right: 4px solid #1564c1;
}

.details {
    margin-top:16px;
    margin-left: 16px;
    mat-slider {
        width: 800px;
        margin-right: 16px;
    }
    button{
        margin-top:8px;
    }
}

:host {
    background: rgba($color: #000000, $alpha: 0.15);
    border-radius: 32px;
}
