:host {
    margin-top: 16px;
    display: block;
}

[matListAvatar] {
    height: 80px !important;
    width: 80px !important;
}

mat-list-item {
    height: 112px !important;
}

.player {
    background: rgba($color: #000000, $alpha: 0.15);
    border-radius: 32px;
}

.play-button {
    font-size: 40px;
    width: 56px;
    height: 56px;
}

mat-progress-bar {
    margin-top: 16px !important;
}

youtube-player {
    width: 0;
    height: 0;
    overflow: hidden;
}
