

.logo-icon {
    padding-right: 32px;
}

::ng-deep .mat-autocomplete-panel{
    overflow: hidden !important;
}

mat-form-field {
    min-width: 300px;
}

.search-form {
    display: flex;
    flex: 1;
    padding: 0 16px;
    align-items: center;

    form {
      display: flex;
      flex: 1;
    }

    mat-form-field {
      width: 100%;
      padding-bottom: 0;
      font-size: 17px;

      /deep/ {
        .mat-form-field-wrapper {
          padding: 0;
        }
        .mat-form-field-underline {
          display: none;
        }

        input::placeholder {
          color: #fff;
        }
      }
    }
}
