.logo-icon {
    padding-right: 32px;
}

::ng-deep .mat-autocomplete-panel{
    overflow: hidden !important;
}

mat-form-field {
    min-width: 300px;
}

.search-form {
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row-reverse;
    align-items: center;
    white-space: nowrap;
}