:host {
    margin-top: 16px;
    display: block;
}

form {
    display: flex;
    flex-direction: column;
}

mat-chip-list {
    margin-bottom: 24px;
}

.mat-chip.mat-standard-chip {
    color: rgb(21, 100, 192);
}