<div class="shuf-container" *ngIf="playlist | async as playlist">
    <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput name="title" [ngModel]="playlist.title"/>
        <mat-icon matSuffix>library_music</mat-icon>
    </mat-form-field>
  <form #form="ngForm" (ngSubmit)="addSong(form.value)">
    <mat-form-field appearance="fill">
        <mat-label>Song</mat-label>
        <input matInput name="title" placeholder="Add Song" ngModel/>
        <mat-icon matSuffix>add</mat-icon>
    </mat-form-field>
  </form>
  <shuf-song-list [songs]="playlist.songs">
  </shuf-song-list>
</div>
