<div class="shuf-container" *ngIf="playlist | async as playlist">
    <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput name="title" [ngModel]="playlist.title"/>
        <mat-icon matSuffix>library_music</mat-icon>
    </mat-form-field>
  <form #form="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>Song</mat-label>
      <input
        #searchedText="ngModel"
        matInput ngModel
        name="title" placeholder="Add Song"
        [matAutocomplete]="auto"
        (ngModelChange)="titleChanged($event)"/>
      <mat-icon matSuffix>add</mat-icon>
      <mat-autocomplete autoActiveFirstOption (optionSelected)="addSong($event.option.value,searchedText);" #auto="matAutocomplete">
        <mat-option *ngFor='let songSuggestion of filteredOptions | async' [value]="songSuggestion" [disabled]="isIncluded(playlist.songs, songSuggestion.youtubeId)">
          {{ songSuggestion.title }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <shuf-song-list [songs]="playlist.songs">
  </shuf-song-list>
</div>
